/*顶部开始*/

@font-face {
    /*引用字体，固定格式*/
    font-family: 'icomoon';
    /*可以自己起名字*/
    src: url('../font/icomoon.eot?7kkyc2');
    src: url('../font/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'), url('../font/icomoon.ttf?7kkyc2') format('truetype'), url('../font/icomoon.ttf?7kkyc2') format('woff'), url('../font/icomoon.ttf?7kkyc2') format('svg');
    font-style: normal;
    /*倾斜字体变正常*/
}


/*字体图标是字*/

 :after {
    content: "";
    /*display: block;*/
    height: 0;
    clear: both;
    overflow: hidden;
}

.clearfix {
    *zoom: 1;
}

body {
    background-color: #f6f6f6;
}

.type {
    /*版心*/
    margin: 0 auto;
    width: 1190px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

input
/*自带padding 和margin 所以要清除*/

,
button {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: top;
    /*去除图片缝隙 图片和文字基线对齐 一定要有*/
}


/*底部开始*/

.footer {
    height: 650px;
    margin-top: 70px;
    background-color: #eaeaea;
}

.variety {
    height: 99px;
    border-bottom: 1px solid #ccc;
}

.variety-ineer {
    height: 42px;
    padding: 28px 0;
}

.variety-ineer li {
    float: left;
    position: relative;
    width: 297px;
    height: 42px;
}

.variety-ineer p {
    display: block;
    position: absolute;
    top: 0;
    left: 10px;
    width: 162px;
    height: 42px;
    line-height: 42px;
    padding-left: 38px;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

.variety-ineer h5 {
    width: 36px;
    height: 42px;
    margin: 0;
}

.ineer-one {
    background: url(../img/3/asd.png) no-repeat 0 -192px;
}

.ineer-two {
    background: url(../img/3/asd.png) no-repeat -41px -192px;
}

.ineer-three {
    background: url(../img/3/asd.png) no-repeat -82px -192px;
}

.ineer-four {
    background: url(../img/3/asd.png) no-repeat -123px -192px;
}

.delivery {
    height: 180px;
    padding: 20px 0;
}

.express {
    height: 159px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 35px;
    background-color: #eaeaea;
}

.express ul {
    float: left;
    width: 198px;
    height: 156px;
}

.express .fin {
    width: 191px;
    height: 147px;
    background: url(../img/3/asd.png) -6px -4px;
}

.express ul li {
    padding-top: 8px;
    font-size: 12px;
    color: #666;
}

.express p {
    margin: 0;
}

.express h2 {
    margin: 0;
    padding-bottom: 5px;
}

.express ul li a {
    color: #666;
}

.express a:hover {
    color: #f10215;
    cursor: pointer;
}

.shing {
    position: relative;
    width: 170px;
    height: 14px;
}

.shing a {
    float: right;
}

.sing {
    position: absolute;
    top: 8px;
    left: 175px;
    font-family: icomoon;
    font-style: normal;
}

.we {
    height: 20px;
    margin-top: 10px;
}

.we ul {
    margin-left: 45px;
}

.we li {
    float: left;
}

.we li a {
    font-size: 12px;
    color: #666666;
}

.we li a:hover {
    color: #f10215;
}

.we .spacer {
    margin: 7px 10px 0;
}

.cop {
    margin-top: 20px;
    height: 124px;
}

.cop p {
    margin: 0 auto;
    margin-bottom: 5px;
}

.cop .COP-1 {
    display: block;
    width: 800px;
}

.cop .spacer {
    display: inline-block;
    margin: 0 8px;
}

.cop a,
span {
    font-size: 12px;
    color: #666;
}

.cop a:hover {
    color: #f10215;
}

.cop .cop-2 {
    display: block;
    width: 845px;
}

.cop .cop-3 {
    display: block;
    width: 658px;
}

.cop .cop-4 {
    display: block;
    width: 636px;
}

.cop .cop-4 i {
    display: inline-block;
    background-image: url(../img/3/asd.png)
}

.cop .one {
    width: 12px;
    height: 12px;
    background-position: -109px -155px;
}

.cop .two {
    width: 15px;
    height: 10px;
    background-position: -128px -155px;
}

.cop .three {
    width: 15px;
    height: 10px;
    background-position: -148px -155px;
}

.cop .four {
    width: 15px;
    height: 10px;
    background-position: -168px -155px;
}

.cop .five {
    width: 15px;
    height: 10px;
    background-position: -108px -172px;
}

.cop .cop-5 {
    display: block;
    width: 200px;
}

.reoprt {
    height: 37px;
    margin: 25px 0;
}

.reoprt p {
    display: block;
    overflow: hidden;
    width: 566px;
}

.reoprt a {
    display: block;
    float: left;
    width: 103px;
    height: 32px;
    margin-right: 10px;
    background-image: url(../img/3/asd.png);
}

.reoprt-1 {
    background-position: -205px 0;
}

.reoprt-2 {
    background-position: -205px -37px;
}

.reoprt-3 {
    background-position: -205px -74px;
}

.reoprt-4 {
    background-position: -205px -111px;
}

.reoprt-5 {
    background-position: -205px -185px;
}


/*底部结束*/